@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #262626;
    color: white;
}

html, body, #root {
    height: 100%;
}

@layer components {
    .btn {
        @apply py-2 px-4 rounded-lg shadow-md;
    }

    .input {
        @apply block w-full px-3 py-1.5 text-base font-normal text-gray-700 border border-solid border-gray-300
        rounded transition ease-in-out m-0 focus:text-gray-700 focus:border-blue-600 focus:outline-none;
    }
}